.heroFooter {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-top: 50px;
}

.footItem {
  /* max-width: 25%; */
  flex-grow: inherit;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  flex: 25%;
}
.iconBox {
  margin: 5px;
}
.footItemText p {
  color: #aaa;
  font-size: 0.8rem;
  padding-left: 10px;
}

.footItem:hover .icon,
.footItem:hover .footItemText > p {
  color: #fff;
}

.icon {
  font-size: 2rem;
  color: #999;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .icon {
    font-size: 1.8rem;
    color: #999;
  }
  .footItemText p {
    color: #aaa;
    font-size: 0.8rem;
    padding-left: 10px;
  }
  .iconBox {
    margin: 3px;
  }
  .footItem {
    /* align-items: center; */
    padding: 0 5px;
    flex: 50%;
  }
}

@media only screen and (max-width: 479px) {
  .icon {
    font-size: 1.5rem;
    color: #999;
  }
  .footItemText p {
    color: #aaa;
    font-size: 0.6rem;
    padding-left: 10px;
  }
  .iconBox {
    margin: 3px;
  }
  .footItem {
    /* max-width: 25%; */
    height: 70px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 0 3px;
    cursor: pointer;
    flex: 50%;
  }
}
