*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
   
  }
  .ContentOfContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
  }
  .placedUp{
    margin: 500px 0px 0px 0px;
  }